.background {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 50px 50px 50px 50px; */
    padding: 25px 18px;
    /* overflow: hidden; */
    background-color: #f1f1f1;
}

.titles {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#background-proj {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30% 70%;

}
body {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.hidden {
    display:none
}
#content-warning {
    color:red;
}
.collapsible {
    background-color: rgb(111, 107, 107);
    color: rgb(23, 22, 22);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
#textboxid {
    height:150px;
    font-size:14pt;
    width:600px;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  

/* The White And Baby Blue Color Scheme palette has 4 colors which are Blizzard Blue (#ABDFF6), Floral White (#FFFAF1), White (#FFFFFF) and Baby Blue (#88D1F1). */